.Toastify__toast-container {
    right: 0 !important;
    left: auto !important;
  }
  /* Nếu có bo tròn ở container Toast */
  .Toastify__toast {
    border-radius: 5px 0px 0px 5px !important; /* Bo tròn top-left và bottom-left */
  }
  
/* Ghi đè CSS mặc định của react-toastify */
.Toastify__progress-bar--wrp {
    border-bottom-right-radius: 0px !important;
  }
    